/*
.app
{
    background-image:url(../assets/emptyBackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
	width: 100%;
    height: 100%;
}
*/

@font-face 
{
    font-family: "Kingthings";
    src: url("../assets/fonts/KingthingsFoundation.ttf");
}
  
:root
{
    --font-book: "Kingthings";
}

.window-app 
{
    background-image:url(../assets/emptyBackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
	width: 100%;
    height: 100%;
    box-shadow: none;
    overflow: hidden;
}

.forbiddenAlpha .window-header
{
    /* CUSTOM HEADERS */
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.5); 
}

.forbiddenAlpha .window-content
{
    background-image:url(../assets/emptyBackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
	width: 100%;
    height: 100%;
    overflow: hidden;
}