/* ------------------------------------------------------------------------------- */
/* ------------------------------- BOOK STRUCTURE -------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .book 
{
    display: flex;
    background-image:url(../assets/alphaBookBackgound.png);
    background-size: cover;
    background-position: center;

    background-color: transparent;
	width: 100%;
    height: 100%;
    position: relative;

    font-family: var(--font-book);
}

.forbiddenAlpha.sheet .book .leftPage 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 3%;
    left: 6%;
    width: 42%;
    height: 94%;
    overflow: hidden;
    justify-content: center;

    /* Border pattern*/
    background-image:url(../assets/bookBorder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .book .rightPage 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 3%;
    left: 51.5%;
    width: 42%;
    height: 94%;
    overflow: hidden;
    justify-content: center;

    /* Border pattern*/
    background-image:url(../assets/bookBorder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .book .pageTitle 
{
    /* Box transform */
    display: flex;
    position: absolute;
    width: 70%;
    height: 10%;
    overflow: visible;
    justify-content: center;
    align-items: center;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: 36px;
    font-weight: italic;
    text-decoration: underline;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .book .pageContent 
{
    /* Box transform */
    display: flex;
    position: relative;
    top: 10%;
    width: 88%;
    height: 84%;
    overflow: hidden;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

/* ------------------------------------------------------------------------------- */
/* ---------------------------------- ITEM LIST ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .book .pageContent .itemList
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow-y: auto;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .book .pageContent .itemList::-webkit-scrollbar 
{
    width: 8px;
    background: rgba(26, 26, 26, 0.1);
}

.forbiddenAlpha.sheet .book .pageContent .itemList::-webkit-scrollbar-thumb 
{
    outline: none;
    border-radius: 3px;
    background: rgb(26, 26, 26);
    border: none;
}

.forbiddenAlpha.sheet .book .pageContent .itemHeader
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border-bottom: 2px rgb(26, 26, 26) solid;
    font-size: 16px;
    font-weight: normal;
    text-align: center;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- TAB BAR ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .book .tabsBar
{
    /* Box transform */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -1%;
    left: 10%;
    height: 5%;
    width: 80%;
    justify-content: center;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .book .tabsBarButtons
{
    /* Box transform */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -1%;
    right: 50px;
    height: 5%;
    width: 180px;
    justify-content: center;
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark,
.forbiddenAlpha.sheet .book .tabsBar .bookMark
{
    /* Bookmark image */
    background-image:url(../assets/bookMarkBackground.png);
    background-size: cover;
    background-position: center;
    overflow: visible;
    width: 50px;
    height: 50px;
    z-index: 10;
    margin: 5px 10px;
    text-align: center;
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark:hover img,
.forbiddenAlpha.sheet .book .tabsBar .bookMark:hover img
{
    /* Bookmark image */
    opacity: 1;
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark img,
.forbiddenAlpha.sheet .book .tabsBar .bookMark img
{
    /* Bookmark image */
    width: 26px;
    height: 26px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    border: none;
    opacity: 0.3;
}

.forbiddenAlpha.sheet .book .tabsBar .active img
{
    /* Bookmark image */
    opacity: 1;
    width: 34px;
    height: 34px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    border: none;
}


/* ------------------------------------------------------------------------------- */
/* ----------------------------------- INPUTS ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha .book .pageContent label
{
    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin: 0px 8px;
}

.forbiddenAlpha .book .pageContent textarea
{
    /* Transform */
    width: auto;
    height: auto;
    resize: none;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: justify;
    white-space: normal;

    border: 0 none;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.055);

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.forbiddenAlpha .book .pageContent textarea:hover,
.forbiddenAlpha .book .pageContent textarea:focus
{
    outline: none !important;
    border-color: blue;
    box-shadow: 0 0 8px blue;
}

.forbiddenAlpha .book .pageContent button 
{
    /* Transform */
    width: auto;
    height: auto;
    padding: 2px 4px;
    line-height: inherit;
    
    /* Style */
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

.forbiddenAlpha .book .pageContent button:hover
{
    text-shadow: 0px 0px 2px red;
}

.forbiddenAlpha .book .pageContent input
{
    /* Transform */
    width: auto;
    height: auto;
    padding: 2px 4px;
    line-height: inherit;
    
    /* Style */
    border: none;
    border-radius: 8px;
    box-shadow: none;
    background: transparent;
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
}

.forbiddenAlpha .book .pageContent input:hover
{
    border-color: blue;
    box-shadow: 0 0 8px blue;
    text-shadow: 0px 0px 2px blue;
}

.forbiddenAlpha .book .pageContent input[type="number"]::-webkit-outer-spin-button,
.forbiddenAlpha .book .pageContent input[type="number"]::-webkit-inner-spin-button 
{
    /*Disable number spinner*/
    -webkit-appearance: none;
    margin: 0;
}

.forbiddenAlpha .book .pageContent select
{
    /* Transform */
    width: auto;
    height: auto;
    padding: 0px 4px;
    line-height: inherit;
    
    /* Style */
    border: none;
    border-radius: 8px;
    box-shadow: none;
    background: transparent;
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.forbiddenAlpha .book .pageContent select:hover
{
    border-color: blue;
    box-shadow: 0 0 8px blue;
    text-shadow: 0px 0px 2px blue;
}