/* ------------------------------------------------------------------------------- */
/* ----------------------------------- GENERAL ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .singleColumn
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-content: space-between;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book  .bookTab .centeredRow
{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab .centeredRow input
{
    width: 3em;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .bookTab .centeredRow select
{
    width: 5em;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .bookTab .centeredRow textarea
{
    width: 90%;
    height: 100px;


    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}


.book .bookTab .wrapColumns
{
    display: flex;
    flex-wrap: wrap;
    
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab
{
    font-size: 17px;
}

/* ------------------------------------------------------------------------------- */
/* ---------------------------------- MAIN TAB ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .profileImage
{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.book .bookTab .profileImage:hover 
{
    box-shadow: 0 0 10px blue;
    cursor: pointer;
}

.book .bookTab .profileImage img
{
    border: none;
}

.book .bookTab .bookTitle 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 65%;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    overflow: visible;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: 38px;
    font-weight: bold;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab .bookTitleName 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 75%;
    right: 10%;
    width: 80%;
    height: 20%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: 38px;
    font-weight: italic;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab .bookTitleName input
{
    width: 100%;
    height: 100%;
}


/* ------------------------------------------------------------------------------- */
/* --------------------------------- SKILLS TAB ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .singleColumn .attribute
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.book .bookTab .singleColumn .attribute input
{
    width: 50px;
    height: 50px;
    margin: 10px 0px;
    border: 2px rgb(26, 26, 26) solid;
    border-radius: 3px;
}

.book .bookTab .wrapColumns .skill
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 2.5%;
    height: 10%;
    flex-basis: 45%;
    background-color: rgba(26, 26, 26, 0.055);
}

.book .bookTab .wrapColumns .skill button
{
    margin: 0% 2%;
    width: 70%;
}

.book .bookTab .wrapColumns .skill input
{
    margin: 0% 2%;
    width: 15%;
}

/* ------------------------------------------------------------------------------- */
/* --------------------------------- COMBAT TAB ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .pageContent .combatItem
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    overflow: hidden;
    align-items: center;
    margin: 5px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .pageContent .combatItem:nth-child(even)
{
    border-radius: 4px;
    background: rgba(26, 26, 26, 0.1);
}

.book .pageContent .itemList .itemHeader .combatArmor { width: 60%; }
.book .pageContent .itemList .itemHeader .combatRaiting { width: 20%; }

.book .pageContent .combatItem .combatArmor { width: 60%; }
.book .pageContent .combatItem .combatRaiting { width: 20%;  }

.book .pageContent .itemList .itemHeader .combatWeapon { width: 60%; }
.book .pageContent .itemList .itemHeader .combatDamage { width: 20%; }
.book .pageContent .itemList .itemHeader .combatBonus { width: 20%; }

.book .pageContent .combatItem .combatWeapon { width: 60%; }
.book .pageContent .combatItem .combatDamage { width: 20%; }
.book .pageContent .combatItem .combatBonus { width: 20%; }

/* ------------------------------------------------------------------------------- */
/* ---------------------------------- GEAR TAB ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .singleColumn .subtitle
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 8px;
    font-size: 18px;
    ;
}

.book .bookTab .singleColumn .centeredRow .consumables
{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: center;
    align-content: space-between;
}

.book .bookTab .singleColumn .centeredRow .consumables select
{
    margin-top: 5px;
    width: 3em;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.055);
}

.book .bookTab .gearTabs
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    
    /*background-color: rgba(255, 0, 0, 0.5);*/
}

.book .bookTab .gearItemList
{
    width: 100%;
    top: 15%;
    height: 85%;
    
    /*background-color: rgba(255, 0, 0, 0.5);*/
}

.book .bookTab .gearTabs .tabItem:hover
{
    text-shadow: 0px 0px 4px rgba(255,0,0,0.5);
}

.book .bookTab .pageContent .gearTabs .active
{
    /* Bookmark image */
    text-shadow: 0px 0px 4px red;
}

.book .pageContent .abilityItem,
.book .pageContent .gearItem
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    overflow: hidden;
    align-items: center;
    margin: 5px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .pageContent .abilityItem:nth-child(even),
.book .pageContent .gearItem:nth-child(even)
{
    border-radius: 4px;
    background: rgba(26, 26, 26, 0.1);
}

.book .pageContent .itemList .itemHeader .gearType { width: 40%; }
.book .pageContent .itemList .itemHeader .gearBonus { width: 20%; }
.book .pageContent .itemList .itemHeader .gearWeight { width: 22.5%; }
.book .pageContent .itemList .itemHeader .button { width: 17.5%; }

.book .pageContent .gearItem .name { width: 40%; }
.book .pageContent .gearItem .bonus { width: 20%; }
.book .pageContent .gearItem .weight { width: 22.5%;  }
.book .pageContent .gearItem .buttons { width: 17.5%; }

.book .pageContent .itemList .itemHeader .abilityName { width: 60%; }
.book .pageContent .itemList .itemHeader .abilityRank { width: 22.5%; }
.book .pageContent .itemList .itemHeader .button { width: 17.5%; }

.book .pageContent .abilityItem .name { width: 60%; }
.book .pageContent .abilityItem .rank { width: 22.5%; }
.book .pageContent .abilityItem .buttons { width: 17.5%; }

/* ------------------------------------------------------------------------------- */
/* -------------------------------- BIOGRAPHY TAB -------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .bigTextarea
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .bookTab .bigTextarea textarea
{
    width: 90%;
    height: 190px;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------ STRONGHOLD TABS -------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .book .pageContent .storageTabs
{
    /* Box transform */
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    align-items: center;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .book .pageContent .storageTabs .item
{
    display: flex;
    height: 25%;
    align-items: center;
    font-size: 22px;
}

.forbiddenAlpha.sheet .book .pageContent .storageTabs .item:hover
{
    cursor: pointer;
    text-shadow: 0px 0px 4px rgba(255,0,0,0.5);
}

.forbiddenAlpha.sheet .book .pageContent .storageTabs .active
{
    /* Bookmark image */
    text-shadow: 0px 0px 4px red;
}