/* ------------------------------------------------------------------------------- */
/* ----------------------------------- GENERAL ----------------------------------- */
/* ------------------------------------------------------------------------------- */


.scroll .scrollContent .singleColumn
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-content: space-between;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .centeredRow
{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .title
{
    top: 5%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    padding-top: 15px;
    font-size: 24px;
    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.scroll .scrollContent .title img
{
    height: 100%;
    width: auto;
    border: none;
}

.scroll .scrollContent .name
{
    align-self: center;
    justify-content: center;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- ABILITY ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.scroll .scrollContent .abilityScrollTitle
{
    top: 5%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding-top: 15px;
    font-size: 24px;
    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.scroll .scrollContent .abilityScrollTitle .centeredRow .rank
{
    font-size: 16px;
}


.scroll .scrollContent .abilityScrollTitle .centeredRow .rank input
{
    width: 2em;
}


.scroll .scrollContent .abilityScrollImage
{
    height: 20%;

    /* Debug */
    /*background-color: rgba(0, 0, 255, 0.25);*/
}

.scroll .scrollContent .abilityScrollImage img
{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.scroll .scrollContent .abilityScrollDescription
{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .abilityScrollDescription .singleColumn .label
{
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
    /*background-color: rgba(255, 0, 0, 0.25);*/
}
.scroll .scrollContent .abilityScrollDescription .singleColumn textarea
{
    margin: 0% 2.5%;
    width: 95%;
    height: 200px;
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------ ARMOR ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.scroll .scrollContent .propertyArmorRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .tabsArmorRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .textArmorRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .sheet-body .textArmorRow textarea
{
    right: 2.5%;
    width: 95%;
    height: 130px;
}

.scroll .scrollContent .propertyArmorRow .armorProperty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 15%;
    font-size: 16px;
}

.scroll .scrollContent .propertyArmorRow .armorProperty input
{
    margin-top: 10px;
    width: 2em;
}

.scroll .scrollContent .propertyArmorRow .armorProperty select
{
    margin-top: 10px;
    width: 4em;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- ARTIFACT ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.scroll .scrollContent .artifactTitle
{
    top: 5%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding-top: 15px;
    font-size: 24px;
    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.scroll .scrollContent .artifactImage
{
    height: 20%;

    /* Debug */
    /*background-color: rgba(0, 0, 255, 0.25);*/
}

.scroll .scrollContent .artifactImage img
{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.scroll .scrollContent .artifactRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .tabsArtifactRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .textArtifactRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .sheet-body .textArtifactRow textarea
{
    right: 2.5%;
    width: 95%;
    height: 150px;
}

.scroll .scrollContent .artifactRow .artifactProperty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 15%;
    font-size: 16px;
}

.scroll .scrollContent .artifactRow .artifactProperty select
{
    margin-top: 10px;
    width: 4em;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- BUILDING ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.scroll .scrollContent .buildingTitle
{
    top: 5%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding-top: 15px;
    font-size: 24px;
    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.scroll .scrollContent .buildingImage
{
    height: 20%;

    /* Debug */
    /*background-color: rgba(0, 0, 255, 0.25);*/
}

.scroll .scrollContent .buildingImage img
{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.scroll .scrollContent .buildingRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .textBuildingRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .singleColumn .textBuildingRow textarea
{
    right: 2.5%;
    width: 95%;
    height: 95px;
}

.scroll .scrollContent .buildingRow .buildingProperty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 15%;
    font-size: 16px;
}

.scroll .scrollContent .buildingRow .buildingProperty input
{
    margin-top: 10px;
    width: 8em;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------- CRITICAL INJURY ------------------------------- */
/* ------------------------------------------------------------------------------- */

.scroll .scrollContent .injuryTitle
{
    top: 5%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding-top: 15px;
    font-size: 24px;
    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.scroll .scrollContent .injuryImage
{
    height: 20%;

    /* Debug */
    /*background-color: rgba(0, 0, 255, 0.25);*/
}

.scroll .scrollContent .injuryImage img
{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.scroll .scrollContent .injuryRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .textInjuryRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .singleColumn .textInjuryRow textarea
{
    right: 2.5%;
    width: 95%;
    height: 150px;
}

.scroll .scrollContent .injuryRow .injuryProperty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 33%;
    height: 15%;
    font-size: 16px;
}

.scroll .scrollContent .injuryRow .injuryProperty input
{
    margin-top: 10px;
    width: 6em;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------ GEAR ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.scroll .scrollContent .gearRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .gearRow .gearProperty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 15%;
    font-size: 16px;
}

.scroll .scrollContent .tabsGearRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .textGearRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .sheet-body .textGearRow textarea
{
    right: 2.5%;
    width: 95%;
    height: 200px;
}

.scroll .scrollContent .gearRow .gearProperty input
{
    margin-top: 10px;
    width: 2em;
}

.scroll .scrollContent .gearRow .gearProperty .inputText input
{
    margin-top: 10px;
    width: 8em;
}

.scroll .scrollContent .gearRow .gearProperty select
{
    margin-top: 10px;
    width: 4em;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- HIRELING ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.scroll .scrollContent .hirelingTitle
{
    top: 5%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding-top: 15px;
    font-size: 24px;
    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.scroll .scrollContent .hirelingImage
{
    height: 20%;

    /* Debug */
    /*background-color: rgba(0, 0, 255, 0.25);*/
}

.scroll .scrollContent .hirelingImage img
{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.scroll .scrollContent .hirelingRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .textHirelingRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .singleColumn .textHirelingRow textarea
{
    right: 2.5%;
    width: 95%;
    height: 140px;
}

.scroll .scrollContent .hirelingRow .hirelingProperty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 15%;
    font-size: 16px;
}

.scroll .scrollContent .hirelingRow .hirelingProperty input
{
    margin-top: 10px;
    width: 2em;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------ WEAPON ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.scroll .scrollContent .propertyWeaponRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent label
{
    text-shadow: 0px 0px 2px green;
}


.scroll .scrollContent .tabsWeaponRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .textWeaponRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scroll .scrollContent .propertyWeaponRow .weaponProperty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 33%;
    height: 15%;
    font-size: 16px;
}

.scroll .scrollContent .propertyWeaponRow .bigWeaponProperty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 15%;
    font-size: 16px;
}

.scroll .scrollContent .propertyWeaponRow .weaponProperty input
{
    margin-top: 10px;
    width: 2em;
}

.scroll .scrollContent .propertyWeaponRow .bigWeaponProperty select,
.scroll .scrollContent .propertyWeaponRow .weaponProperty select
{
    margin-top: 10px;
    width: 5.5em;
}


.scroll .scrollContent .propertyWeaponRow .weaponProperty .bigSelect select
{
    margin-top: 10px;
    width: 6.5em;
}

.scroll .scrollContent .sheet-body .textWeaponRow textarea
{
    right: 2.5%;
    width: 95%;
    height: 65px;
}