/* ------------------------------------------------------------------------------- */
/* ----------------------------------- GENERAL ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .singleColumn
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-content: space-between;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book  .bookTab .centeredRow
{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab .centeredRow input
{
    width: 3em;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .bookTab .centeredRow select
{
    width: 5em;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .bookTab .centeredRow textarea
{
    width: 90%;
    height: 100px;
    resize: none;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}


.book .bookTab .wrapColumns
{
    display: flex;
    flex-wrap: wrap;
    
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab
{
    font-size: 17px;
}

/* ------------------------------------------------------------------------------- */
/* ---------------------------------- MAIN TAB ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .profileImage
{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.book .bookTab .profileImage:hover {
    box-shadow: 0 0 10px blue;
    cursor: pointer;
  }

.book .bookTab .bookTitle 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 65%;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    overflow: visible;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: 38px;
    font-weight: bold;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab .bookTitleName 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 75%;
    right: 10%;
    width: 80%;
    height: 20%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: 38px;
    font-weight: italic;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab .bookTitleName input
{
    width: 100%;
    height: 100%;
}


/* ------------------------------------------------------------------------------- */
/* --------------------------------- SKILLS TAB ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .singleColumn .attribute
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.book .bookTab .singleColumn .attribute input
{
    width: 50px;
    height: 50px;
    margin: 10px 0px;
    border: 2px rgb(26, 26, 26) solid;
    border-radius: 3px;
}

.book .bookTab .wrapColumns .skill
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 2.5%;
    height: 10%;
    flex-basis: 45%;
    background-color: rgba(26, 26, 26, 0.055);
}

.book .bookTab .wrapColumns .skill button
{
    margin: 0% 2%;
    width: 70%;
}

.book .bookTab .wrapColumns .skill input
{
    margin: 0% 2%;
    width: 15%;
}

/* ------------------------------------------------------------------------------- */
/* -------------------------------- BIOGRAPHY TAB -------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .bigTextarea
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .bookTab .bigTextarea textarea
{
    width: 90%;
    height: 190px;
    resize: none;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}