/* ------------------------------------------------------------------------------- */
/* ------------------------------ SCROLL STRUCTURE ------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .scroll 
{
    display: flex;
    background-image:url(../assets/scroll.png);
    background-size: 430px 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
	width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;

    z-index: 1;
    font-family: var(--font-book);
    font-size: 18px;
    
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .scroll .scrollContent 
{
    /* Box transform */
    display: flex;
    position: relative;
    top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .scroll .scrollContent .verticalElement
{
    /* Box transform */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.forbiddenAlpha.sheet .scroll .scrollContent .horizontalElement
{
    /* Box transform */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.scrollBorder
{
    z-index: 5;
}


/* ------------------------------------------------------------------------------- */
/* ----------------------------------- INPUTS ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .scroll .scrollContent img
{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.forbiddenAlpha.sheet .scroll .scrollContent::-webkit-scrollbar 
{
    width: 8px;
    background:  transparent;
}

.forbiddenAlpha.sheet .scroll .scrollContent textarea::-webkit-scrollbar-thumb,
.forbiddenAlpha.sheet .scroll .scrollContent::-webkit-scrollbar-thumb 
{
    outline: none;
    border-radius: 8px;
    background: rgb(26, 26, 26);
    border: none;
}

.forbiddenAlpha.sheet .scroll .scrollContent::-webkit-scrollbar-track-piece:end 
{
    background: transparent;
    margin-bottom: 30px; 
}

.forbiddenAlpha.sheet .scroll .scrollContent::-webkit-scrollbar-track-piece:start 
{
    background: transparent;
    margin-top: 30px;
}


.forbiddenAlpha.sheet .scroll .scrollContent label
{
    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin: 0px 8px;
    text-shadow: 0px 0px 2px rgba(0,255,0,0.25);
}

.forbiddenAlpha.sheet .scroll .scrollContent  textarea
{
    /* Transform */
    resize: none;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: justify;
    white-space: normal;

    border: 0 none;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.055);

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.forbiddenAlpha.sheet .scroll .scrollContent select:hover,
.forbiddenAlpha.sheet .scroll .scrollContent select:focus,
.forbiddenAlpha.sheet .scroll .scrollContent input:hover,
.forbiddenAlpha.sheet .scroll .scrollContent input:focus,
.forbiddenAlpha.sheet .scroll .scrollContent textarea:hover,
.forbiddenAlpha.sheet .scroll .scrollContent textarea:focus
{
    outline: none !important;
    border-color: green;
    box-shadow: 0 0 4px green;
}

.forbiddenAlpha.sheet .scroll .scrollContent  button 
{
    /* Transform */
    padding: 2px 4px;
    line-height: inherit;
    
    /* Style */
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

.forbiddenAlpha.sheet .scroll .scrollContent  button:hover
{
    text-shadow: 0px 0px 2px red;
}

.forbiddenAlpha.sheet .scroll .scrollContent  input
{
    /* Transform */
    margin-top: 5px;
    padding: 2px 4px;
    line-height: inherit;
    
    /* Style */
    box-shadow: none;
    background: transparent;
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;

    border: 0 none;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.055);
}

.forbiddenAlpha.sheet .scroll .scrollContent  input[type="number"]::-webkit-outer-spin-button,
.forbiddenAlpha.sheet .scroll .scrollContent  input[type="number"]::-webkit-inner-spin-button 
{
    /*Disable number spinner*/
    -webkit-appearance: none;
    margin: 0;
}

.forbiddenAlpha.sheet .scroll .scrollContent  select
{
    /* Transform */
    margin-top: 5px;
    padding: 0px 4px;
    line-height: inherit;
    
    /* Style */
    box-shadow: none;
    background: transparent;
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align-last:center;
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 0 none;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.055);
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- TAB BAR ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .scroll .tabsBar
{
    /* Box transform */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -5px;
    right: 196px;
    width: auto;
    height: 60px;
    justify-content: space-between;
    font-size: 16px;
}

.forbiddenAlpha.sheet .scroll .tabsBarButtons
{
    /* Box transform */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -5px;
    right: 15px;
    width: 186px;
    height: 60px;
    justify-content: space-between;
    font-size: 16px;
}

.forbiddenAlpha.sheet .scroll .tabsBarButtons .scrollMark,
.forbiddenAlpha.sheet .scroll .tabsBar .scrollMark
{
    /* Bookmark image */
    background-image:url(../assets/wax.png);
    background-size: cover;
    background-position: center;
    overflow: visible;

    width: 42px;
    height: 60px;
    z-index: 10;
    margin: 5px 10px;
    text-align: center;

    cursor: pointer;
    z-index: 100;
    padding: 0px 5px;
}

.forbiddenAlpha.sheet .scroll .tabsBarButtons .scrollMark img,
.forbiddenAlpha.sheet .scroll .tabsBar .scrollMark img
{
    /* Bookmark image */
    width: 20px;
    height: 20px;
    margin-right: 1px;
    margin-left: 0px;
    margin-top: 9px;
    border: none;
    opacity: 0.3;
    z-index: 100;
}

.forbiddenAlpha.sheet .scroll .tabsBarButtons .scrollMark:hover img,
.forbiddenAlpha.sheet .scroll .tabsBar .scrollMark:hover img
{
    /* Bookmark image */
    opacity: 1;
    cursor: pointer;
    z-index: 100;
}

.forbiddenAlpha.sheet .scroll .tabsBar .active img
{
    /* Bookmark image */
    opacity: 1;
    width: 26px;
    height: 26px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
    border: none;
}














.forbiddenAlpha.sheet .scroll .tabsBar .tabItem:hover
{
    cursor: pointer;
    text-shadow: 0px 0px 4px rgba(255,0,0,0.5);
}

.forbiddenAlpha.sheet .scroll .tabsBar .active
{
    /* Bookmark image */
    text-shadow: 0px 0px 4px red;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- TAB BAR ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.tabsContent
{
    width: 100%;
    height: 100%;
}