/* ------------------------------------------------------------------------------- */
/* ------------------------------- BOOK STRUCTURE -------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .book 
{
    display: flex;
    background-image:url(../assets/alphaBookBackgound.png);
    background-size: cover;
    background-position: center;

    background-color: transparent;
	width: 100%;
    height: 100%;
    position: relative;

    font-family: var(--font-book);
}

.forbiddenAlpha.sheet .book .leftPage 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 12px;
    left: 50px;
    width: 430px;
    height: 626px;
    overflow: hidden;
    justify-content: center;

    /* Border pattern*/
    background-image:url(../assets/bookBorder.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.forbiddenAlpha.sheet .book .rightPage 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 12px;
    right: 55px;
    width: 430px;
    height: 626px;
    overflow: hidden;
    justify-content: center;

    /* Border pattern*/
    background-image:url(../assets/bookBorder.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.forbiddenAlpha.sheet .book .pageTitle 
{
    /* Box transform */
    display: flex;
    position: absolute;
    width: 200px;
    height: 60px;
    overflow: visible;
    justify-content: center;
    align-items: center;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: 36px;
    font-weight: italic;
    text-decoration: underline;
}

.forbiddenAlpha.sheet .book .pageContent 
{
    /* Box transform */
    display: flex;
    position: relative;
    top: 60px;
    width: 360px;
    height: 520px;
    overflow: hidden;
}

.forbiddenAlpha.sheet .book .pageContent  .verticalElement
{
    /* Box transform */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forbiddenAlpha.sheet .book .pageContent  .horizontalElement
{
    /* Box transform */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------- */
/* ---------------------------------- ITEM LIST ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .book .pageContent .itemList
{
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 520px;

    border-radius: 8px;
    border: 5px rgba(26, 26, 26, 0.85) double;
}

.forbiddenAlpha.sheet .book .pageContent .itemList .itemListContainer
{
    right: 5px;
    width: 330px;
    height: 490px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: none;
}

.forbiddenAlpha.sheet .book .pageContent .itemHeader
{
    height: 30px;
    display: flex;
    flex-direction: row;
    width: 330px;
    align-items: center;
    border-bottom: 2px rgba(26, 26, 26, 0.85) solid;
    font-size: 16px;
    font-weight: normal;
    text-align: center;

}

.forbiddenAlpha.sheet .book .pageContent .itemList .item
{
    display: flex;
    flex-direction: row;
    width: 330px;
    height: 50px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}


.forbiddenAlpha.sheet .book .pageContent .itemList .item:nth-child(odd)
{
    border-radius: 4px;
    background: rgba(26, 26, 26, 0.1);
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- DATABAR ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .book .pageContent .databar
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 5px rgba(26, 26, 26, 0.85) double;
}

.forbiddenAlpha.sheet .book .pageContent .databar:hover,
.forbiddenAlpha.sheet .book .pageContent .databar:hover .dataItem
{
    box-shadow: var(--highlight-color);
}

.forbiddenAlpha.sheet .book .pageContent .databar .dataItem
{
    margin: 2px 2px;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.9);
    /*border: 3px rgba(26, 26, 26, 0.85) solid;*/
}

.forbiddenAlpha.sheet .book .pageContent .databar .dataItemMissing
{
    margin: 2px 2px;
    border-radius: 8px;
    border: 2px rgba(26, 26, 26, 0.85) solid;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- TAB BAR ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.forbiddenAlpha.sheet .book .tabsBar
{
    /* Box transform */
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -10px;
    top: 30px;
    height: auto;
    width: 50px;
    justify-content: center;
}

.forbiddenAlpha.sheet .book .tabsBarButtons
{
    /* Box transform */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: -15px;
    height: auto;
    width: 50px;
    justify-content: center;
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark,
.forbiddenAlpha.sheet .book .tabsBar .bookMark
{
    /* Bookmark image */
    display: flex;
    align-items: center;
    margin: 10px 0px;
    background-image:url(../assets/bookMarkBackground.png);
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark
{
    transform: rotate(90deg);
}

.forbiddenAlpha.sheet .book .tabsBar .bookMark
{
    transform: rotate(-90deg);
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark img,
.forbiddenAlpha.sheet .book .tabsBar .bookMark img
{
    transform: rotate(90deg);
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark:hover img,
.forbiddenAlpha.sheet .book .tabsBar .bookMark:hover img
{
    /* Bookmark image */
    opacity: 1;
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark img,
.forbiddenAlpha.sheet .book .tabsBar .bookMark img
{
    /* Bookmark image */
    width: 26px;
    height: 26px;
    margin-top: -8px;

    border: none;
    opacity: 0.3;
}

.forbiddenAlpha.sheet .book .tabsBar .active img
{
    /* Bookmark image */
    opacity: 1;
    width: 34px;
    height: 34px;
    margin-top: -4px;
    border: none;
}

.forbiddenAlpha.sheet .book .tabsBarButtons .bookMark img:hover,
.forbiddenAlpha.sheet .book .tabsBar .bookMark img:hover
{
    box-shadow: none;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------- COMMON FORMATS -------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .bookTab .singleColumn
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-content: space-between;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book  .bookTab .centeredRow
{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab .centeredRow input
{
    width: 3em;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .bookTab .centeredRow select
{
    width: 5em;

    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}

.book .bookTab .centeredRow textarea
{
    width: 90%;
    height: 100px;


    /* Debug */
    /*background-color: rgba(0, 255, 0, 0.25);*/
}


.book .bookTab .wrapColumns
{
    display: flex;
    flex-wrap: wrap;
    
    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .bookTab
{
    font-size: 17px;
}