<div class="bookTab buildingTab">
    <!--LEFT PAGE-->
    <div class="leftPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "BUILDING.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 

            <!--INDEX-->
            <div class="itemList">
                <div class="itemHeader">
                    <div class="bigColumn"><label>{{localize "BOOK.BUILDING_HEADER"}}</label></div>
                    <div class="regularColumn"><label>{{localize "BOOK.AMOUNT"}}</label></div>
                </div>
                <div class="itemListContainer"> 
                    {{#each actor.items as |item|}}
                    {{#if item.isBuilding}}
                    <div class="item itemContext itemSelector {{#if item.data.isSelected}}active{{/if}}" data-item-id="{{item._id}}" data-target="selectorTargetNotes" data-item-type="building">
                        <div class="bigColumn">
                            <div class="centeredRow">
                                <div class="image"><img src={{item.img}}></div>
                                <div class="name"><label> {{item.name}}</label></div>
                            </div>
                        </div>
                        <div class="regularColumn">
                            <label> {{item.data.number.value}}</label>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                    <div class="item itemCreate" data-type="building"><button>{{localize "BOOK.ADD_BUILDING"}}</button></div>
                </div>
            </div>

        </div>
    </div>
    <!--RIGHT PAGE-->
    <div class="rightPage">
        
        <!--TITLE-->
        <div class="pageTitle">{{localize "BUILDING.LABEL"}}</div>

        <div class="pageContent"> 
            <div class="singleColumn">

                {{#if data.auxiliar.itemSelected}}
                    {{#each actor.items as |item|}}
                    {{#if item.data.isSelected}}
                        <!--NAME-->
                        <div class="centeredRow buildingName">
                            <textarea name="{{item.name}}" disabled>{{item.name}}</textarea>
                        </div>
                        <!--DETAILS-->
                        <div class="buildingDescription">
                            <textarea name="item.data.description.value" disabled>{{item.data.description.value}}</textarea>
                        </div>
                    {{/if}}
                    {{/each}}
                {{else}}
                    <div class="centeredRow hirelingName">
                        <label>{{localize "BOOK.SELECT_BUILDING"}}</label>
                    </div>
                {{/if}}

            </div>
        </div>

    </div>
</div>