<div class="bookTab">
    <!--LEFT PAGE-->
    <div class="leftPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "COMBAT.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 
            <!--ADD ATTRIBUTES TO PAGE-->
            <div class="talentList">

            </div>
        </div>
    </div>
    <!--RIGHT PAGE-->
    <div class="rightPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "COMBAT.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 
            <!--ADD SKILLS TO PAGE-->
            <div class="talentList">

            </div>
        </div>
    </div>
</div>