<div class="bookTab combatTab">
    <!--LEFT PAGE-->
    <div class="leftPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "COMBAT.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 

            <div class="singleColumn">


                <!--ARMOR-->
                <div class="itemList">
                    <div class="itemHeader">
                        <div class="hugeColumn"><b>{{localize "BOOK.ARMOR_HEADER"}}</b></div>
                        <div class="regularColumn"><b>{{localize "BOOK.ARMOR_RATING"}}</b></div>
                        <div class="regularColumn"><b>{{localize "BOOK.ARMOR_BODY_PART"}}</b></div>
                    </div>
                    <div class="itemListContainer"> 
                        {{#each actor.items as |item|}}
                        {{#if item.isArmor}}
                        {{#if item.data.isEquiped.value}}
                        <div class="item" data-item-id="{{item._id}}">
                            <div class="hugeColumn">
                                <div class="centeredRow">
                                    <div class="image"><img src={{item.img}}></div>
                                    <div class="name"><label> {{item.name}}</label></div>
                                </div>
                            </div>
                            <div class="regularColumn">
                                <label> {{item.data.armorRating.value}} / {{item.data.armorRating.maximum}}</label>
                            </div>
                            <div class="regularColumn">
                                <label> {{item.data.bodyPart.value}}</label>
                            </div>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                    </div>
                </div>

                <!--WEAPON-->
                <div class="itemList">
                    <div class="itemHeader">
                        <div class="hugeColumn"><b>{{localize "BOOK.WEAPON_HEADER"}}</b></div>
                        <div class="regularColumn"><b>{{localize "BOOK.WEAPON_BONUS"}}</b></div>
                        <div class="regularColumn"><b>{{localize "BOOK.WEAPON_DAMAGE"}}</b></div>
                    </div>
                    <div class="itemListContainer"> 
                        {{#each actor.items as |item|}}
                        {{#if item.isWeapon}}
                        {{#if item.data.isEquiped.value}}
                        <div class="item" data-item-id="{{item._id}}">
                            <div class="hugeColumn">
                                <div class="centeredRow">
                                    <div class="image"><img src={{item.img}}></div>
                                    <div class="name"><label> {{item.name}}</label></div>
                                </div>
                            </div>
                            <div class="regularColumn">
                                <label> {{item.data.gearBonus.value}} / {{item.data.gearBonus.maximum}}</label>
                            </div>
                            <div class="regularColumn">
                                <label> {{item.data.damage.value}} </label>
                            </div>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                    </div>
                </div>

                <!--CRITICAL INJURY-->
                <div class="itemList">
                    <div class="itemHeader">
                        <div class="injuryName"><b>{{localize "BOOK.CRITICAL_INJURY_HEADER"}}</b></div>
                        <div class="injuryTime"><b>{{localize "BOOK.HEALING_TIME"}}</b></div>
                    </div>
                    <div class="itemListContainer"> 
                        {{#each actor.items as |item|}}
                        {{#if item.isCriticalInjury}}
                        <div class="item itemContext" data-item-id="{{item._id}}">
                            <div class="injuryName">
                                <div class="centeredRow">
                                    <div class="image"><img src={{item.img}}></div>
                                    <div class="name"><label> {{item.name}}</label></div>
                                </div>
                            </div>
                            <div class="injuryTime">
                                {{#ifCond item.data.lethal.value "yes"}}
                                    <label>{{item.data.timeLimit.value}} <i class="fas fa-skull"></i> </label>
                                {{else}}
                                    <label>{{item.data.healingTime.value}}</label>
                                {{/ifCond}}
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                        <div class="item itemCreate" data-type="criticalInjury"><button>{{localize "BOOK.ADD_CRITICAL_INJURY"}}</button></div>
                    </div>
                </div>


        </div>

        </div>
    </div>
    <!--RIGHT PAGE-->
    <div class="rightPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "COMBAT.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 
            <!--ADD SKILLS TO PAGE-->
            <div class="talentList">

            </div>
        </div>
    </div>
</div>