<div class="combatTab">
    <div class="leftPage">
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
    </div>
    <div class="rightPage">
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
        COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT COMBAT 
    </div>
</div>