{{#canEquipGear actor.type}}

    <div class="itemHeader">
        <div class="smallColumn"><i class="fas fa-clipboard-check"></i></div>
        <div class="mediumColumn"><label>{{localize "BOOK.ARMOR_HEADER"}}</label></div>
        <div class="regularColumn"><label>{{localize "BOOK.ARMOR_RATING"}}</label></div>
        <div class="regularColumn"><label>{{localize "BOOK.WEIGHT"}}</label></div>
    </div>
    <div class="itemListContainer"> 
        {{#each actor.items as |item|}}
        {{#if item.isArmor}}
        <div class="item itemContext" data-item-id="{{item._id}}">
            <div class="smallColumn">
                <a class="item-control itemEquip" title="Equip Item">
                    {{#if item.data.isEquiped.value}}
                        <i class="fas fa-check-circle"></i>
                    {{else}}
                        <i class="fas fa-times-circle"></i>
                    {{/if}}
                </i></a>
            </div>
            <div class="mediumColumn">
                <div class="centeredRow">
                    <div class="image"><img src={{item.img}}></div>
                    <div class="name"><label> {{item.name}}</label></div>
                </div>
            </div>
            <div class="regularColumn">
                <label> {{item.data.armorRating.value}} / {{item.data.armorRating.maximum}}</label>
            </div>
            <div class="regularColumn"><label>{{item.data.common.weight.value}}</label></div>
        </div>
        {{/if}}
        {{/each}}
        <div class="item itemCreate" data-type="armor"><button>{{localize "BOOK.ADD_ARMOR"}}</button></div>
    </div>

{{else}}

    <div class="itemHeader">
        <div class="bigColumn"><label>{{localize "BOOK.ARMOR_HEADER"}}</label></div>
        <div class="regularColumn"><label>{{localize "BOOK.ARMOR_RATING"}}</label></div>
        <div class="regularColumn"><label>{{localize "BOOK.WEIGHT"}}</label></div>
    </div>
    <div class="itemListContainer"> 
        {{#each actor.items as |item|}}
        {{#if item.isArmor}}
        <div class="item itemContext" data-item-id="{{item._id}}">
            <div class="bigColumn">
                <div class="centeredRow">
                    <div class="image"><img src={{item.img}}></div>
                    <div class="name"><label> {{item.name}}</label></div>
                </div>
            </div>
            <div class="regularColumn">
                <label> {{item.data.armorRating.value}} / {{item.data.armorRating.maximum}}</label>
            </div>
            <div class="regularColumn"><label>{{item.data.common.weight.value}}</label></div>
        </div>
        {{/if}}
        {{/each}}
        <div class="item itemCreate" data-type="armor"><button>{{localize "BOOK.ADD_ARMOR"}}</button></div>
    </div>

{{/canEquipGear}}



