<div class="itemHeader">
    <div class="bigColumn"><label>{{localize "BOOK.GEAR_HEADER"}}</label></div>
    <div class="regularColumn"><label>{{localize "BOOK.UNITS"}}</label></div>
    <div class="regularColumn"><label>{{localize "BOOK.WEIGHT"}}</label></div>
</div>
<div class="itemListContainer"> 
    {{#each actor.items as |item|}}
    {{#if item.isGear}}
    <div class="item itemContext" data-item-id="{{item._id}}">
        <div class="bigColumn">
            <div class="centeredRow">
                <div class="image"><img src={{item.img}}></div>
                <div class="name"><label> {{item.name}}</label></div>
            </div>
        </div>
        <div class="regularColumn">
            <label> {{item.data.units.value}} </label>
        </div>
        <div class="regularColumn"><label>{{item.data.common.weight.value}}</label></div>
    </div>
    {{/if}}
    {{/each}}
    <div class="item itemCreate" data-type="gear"><button>{{localize "BOOK.ADD_GEAR"}}</button></div>
</div>