<div class="bookTab">
    <!--LEFT PAGE-->
    <div class="leftPage">
        <!--CONTNENT-->
        <div class="pageContent"> 
            <!--CHARACTER IMAGE-->
            <div class="profileImage">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>
            <!--TITLE-->
            <div class="bookTitle ">{{localize "MONSTERBOOKTITLE.LABEL"}}</div>
            <div class="bookTitleName">
                <input name="name" type="text" value="{{actor.name}}" />
            </div>
        </div>
    </div>
    <!--RIGHT PAGE-->
    <div class="rightPage">
        <!--CONTNENT-->
        <div class="pageContent"> 
            
            <div class="singleColumn">
                
            </div>
        </div>
    </div>
</div>

