<div class="bookTab">
    <!--LEFT PAGE-->
    <div class="leftPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "TALENTS.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 

            <!--ADD ATTRIBUTES TO PAGE-->

        </div>
    </div>
    <!--RIGHT PAGE-->
    <div class="rightPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "SPELLS.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 

            <!--ADD SKILLS TO PAGE-->


        </div>
    </div>
</div>