<div class="bookTab talentTab">
    <!--LEFT PAGE-->
    <div class="leftPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "TALENTS.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 

            <!--ADD ATTRIBUTES TO PAGE-->
            <div class="itemList">
                <div class="itemHeader">
                    <div class="bigColumn"><label>{{localize "BOOK.TALENT_HEADER"}}</label></div>
                    <div class="regularColumn"><label>{{localize "BOOK.RANK"}}</label></div>
                </div>
                <div class="itemListContainer"> 
                    {{#each actor.items as |item|}}
                    {{#if item.isTalent}}
                    <div class="item itemContext" data-item-id="{{item._id}}">
                        <div class="bigColumn">
                            <div class="centeredRow">
                                <div class="image"><img src={{item.img}}></div>
                                <div class="name"><label> {{item.name}}</label></div>
                            </div>
                        </div>
                        <div class="regularColumn"><label> {{item.data.rank.value}}</label></div>
                    </div>
                    {{/if}}
                    {{/each}}
                    <div class="item itemCreate" data-type="talent"><button>{{localize "BOOK.ADD_TALENT"}}</button></div>
                </div>
            </div>

        </div>
    </div>
    <!--RIGHT PAGE-->
    <div class="rightPage">
        <!--TITLE-->
        <div class="pageTitle">{{localize "SPELLS.LABEL"}}</div>
        <!--CONTNENT-->
        <div class="pageContent"> 

            <!--ADD SKILLS TO PAGE-->
            <div class="itemList">
                <div class="itemHeader">
                    <div class="bigColumn"><label>{{localize "BOOK.SPELL_HEADER"}}</label></div>
                    <div class="regularColumn"><label>{{localize "BOOK.RANK"}}</label></div>
                </div>
                <div> 
                    {{#each actor.items as |item|}}
                    {{#if item.isSpell}}
                    <div class="item itemContext" data-item-id="{{item._id}}">
                        <div class="bigColumn">
                            <div class="centeredRow">
                                <div class="image"><img src={{item.img}}></div>
                                <div class="name"><label> {{item.name}}</label></div>
                            </div>
                        </div>
                        <div class="regularColumn"><label> {{item.data.rank.value}}</label></div>
                    </div>
                    {{/if}}
                    {{/each}}
                    <div class="item itemCreate" data-type="spell"><button>{{localize "BOOK.ADD_SPELL"}}</button></div>
                </div>
            </div>

        </div>
    </div>
</div>