.forbiddenAlpha.sheet .actorSheet 
{
    display: flex;
    background-image:url(../../assets/alphaBookBackgound.png);
    background-size: cover;
    background-position: center;

    background-color: transparent;
	width: 100%;
    height: 100%;
    position: relative;

    /*
    background:red;
    -webkit-mask:url(../../assets/actor/character/characterBackground.png);*/
}

.forbiddenAlpha.sheet .actorSheet .leftPage 
{
    display: flex;

    /* Box transform */
    position: absolute;
    transform: rotate(1.5deg);
    top: 30px;
    left: 70px;
    width: 350px;
    height: 450px;

    /* Debug */
    opacity: 0.1;
    background-color: red;
}

.forbiddenAlpha.sheet .actorSheet .rightPage 
{
    display: flex;
    /* Box transform */
    position: absolute;
    transform: rotate(-1.5deg);
    top: 25px;
    left: 485px;
    width: 350px;
    height: 450px;

    /* Debug */
    opacity: 0.1;
    background-color: red;
}