.skillTab
{
    font-family: var(--font-book);
}

.skillTab .attributeList
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-content: space-between;
}

.skillTab .attributeList .attribute
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.skillTab .attributeList .attribute input
{
    width: 50px;
    height: 50px;
    margin: 10px 0px;
    border: 2px rgb(26, 26, 26) solid;
    border-radius: 3px;
}

.skillTab .skillList
{
    display: flex;
    flex-wrap: wrap;
}

.skillTab .skillList .skill
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 2.5%;
    height: 10%;
    flex-basis: 45%;
    background-color: rgba(26, 26, 26, 0.055);
}

.skillTab .skillList .skill button
{
    margin: 0% 2%;
    width: 70%;
}

.skillTab .skillList .skill input
{
    margin: 0% 2%;
    width: 15%;
}