<!--CUSTOM HEADER BUTTONS-->
<b class="item bookMark closeWindow">
    <img src="systems/forbiddenAlpha/assets/icons/closeMark.png" title="Close Window">
</b>
<b class="item bookMark minimizeWindow">
    <img src="systems/forbiddenAlpha/assets/icons/minimizeMark.png" title="Minimize Window">
</b>
<b class="item bookMark displacementButton">
    <img src="systems/forbiddenAlpha/assets/icons/displaceMark.png" title="Move Window">
</b>
<b class="item bookMark openConfiguration">
    <img src="systems/forbiddenAlpha/assets/icons/optionsMark.png" title="Configuration">
</b>
