<form class="{{cssClass}}" autocomplete="off">
    <div class="book">
        <!--<nav class="sheet-tabs tabs" data-group="primary">-->
        <nav class="tabsBar" data-group="primary">
            <b class="item bookMark" data-tab="mainMonster"><img src="systems/forbiddenAlpha/assets/icons/mainMark.png"></b>
            <b class="item bookMark" data-tab="skill"><img src="systems/forbiddenAlpha/assets/icons/skillMark.png"></b>
            <b class="item bookMark" data-tab="combat"><img src="systems/forbiddenAlpha/assets/icons/combatMark.png"></b>
            <b class="item bookMark" data-tab="gear"><img src="systems/forbiddenAlpha/assets/icons/gearMark.png"></b>
            {{> systems/forbiddenAlpha/templates/actor/bookTabsBar.html}}
        </nav>

        <div class="bookBody">
            <div class="tab" data-group="primary" data-tab="mainMonster">
                {{> systems/forbiddenAlpha/templates/actor/tab/mainMonsterTab.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="skill">
                {{> systems/forbiddenAlpha/templates/actor/tab/skillTab.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/forbiddenAlpha/templates/actor/tab/combatTab.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/forbiddenAlpha/templates/actor/tab/gearTab.html}}
            </div>
        </div>

    </div>
</form>

