<form class="{{cssClass}}" autocomplete="off">
    <div class="book">

        <nav class="tabsBar" data-group="primary">
            <b class="item bookMark clearSelection" data-tab="main"><img src="systems/forbiddenAlpha/assets/icons/mainMark.png"></b>
            <b class="item bookMark clearSelection" data-tab="building"><img src="systems/forbiddenAlpha/assets/icons/buildingMark.png"></b>
            <b class="item bookMark clearSelection" data-tab="hireling"><img src="systems/forbiddenAlpha/assets/icons/hirelingMark.png"></b>
            <b class="item bookMark clearSelection" data-tab="storage"><img src="systems/forbiddenAlpha/assets/icons/storageMark.png"></b>
            <b class="item bookMark clearSelection" data-tab="notes"><img src="systems/forbiddenAlpha/assets/icons/notesMark.png"></b>
        </nav>
        <div class="tabsBarButtons">
            {{> systems/forbiddenAlpha/templates/actor/bookTabsBar.html}}
        </div>

        <div class="bookBody">
            <div class="tab" data-group="primary" data-tab="main">
                {{> systems/forbiddenAlpha/templates/actor/tab/mainStrongholdTab.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="building">
                {{> systems/forbiddenAlpha/templates/actor/tab/buildingTab.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="hireling">
                {{> systems/forbiddenAlpha/templates/actor/tab/hirelingTab.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="storage">
                {{> systems/forbiddenAlpha/templates/actor/tab/storageTab.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/forbiddenAlpha/templates/actor/tab/notesTab.html}}
            </div>
        </div>

        <div class="itemContextMenu" data-item-id="">
            <a class="item-control contextEdit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
            <a class="item-control contextDelete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>

    </div>
</form>

