<div class="forbiddenAlpha chatItem">
    <div class="itemContent">

        <div class="verticalElement title">
            <div class="image"> <img src="{{img}}"/> </div>
            <label>{{name}}</label>
        </div>

        <div class="verticalElement">
            <label>{{localize data.armorRating.label}}</label>    
            <label>{{data.armorRating.value}} / {{data.armorRating.maximum}}</label>
        </div>

        <div class="horizontalElement">
            <div class="verticalElement">
                <label>{{localize data.bodyPart.label}}</label>    
                <label>{{localize data.bodyPart.value}}</label>
            </div>
            <div class="verticalElement">
                <label>{{localize data.common.weight.label}}</label>    
                <label>{{localize data.common.weight.value}}</label>
            </div>
    
        </div>

        <div class="verticalElement">
            <label>{{localize data.common.features.label}}</label>    
            <label>{{localize data.common.features.value}}</label>
        </div>

        <div class="verticalElement">
            <label>{{localize data.common.drawback.label}}</label>    
            <label>{{localize data.common.drawback.value}}</label>
        </div>

    </div>
</div>