<div class="forbiddenAlpha chatItem">
    <div class="itemContent">

        <div class="verticalElement title">
            <div class="image"> <img src="{{img}}"/> </div>
            <label>{{name}}</label>
        </div>

        <div class="horizontalElement">
            <div class="verticalElement">
                <label>{{localize data.salary.label}}</label>    
                <label>{{data.salary.valueCopper}} / {{data.salary.valueSilver}} / {{data.salary.valueGold}}</label>
            </div>
            <div class="verticalElement">
                <label>{{localize data.supply.label}}</label>  
                <label>{{localize data.supply.value}}</label>  
            </div>
        </div>

        <div class="verticalElement">
            <label>{{localize data.description.label}}</label>    
            <label>{{localize data.description.value}}</label>
        </div>

    </div>
</div>