<div class="forbiddenAlpha chatItem">
    <div class="itemContent">

        <div class="verticalElement title">
            <div class="image"> <img src="{{img}}"/> </div>
            <label>{{name}}</label>
        </div>

        <div class="horizontalElement">
            <div class="verticalElement">
                <label>{{localize data.baseDice.label}}</label>    
                <label>{{localize data.baseDice.value}}</label>
            </div>
            <div class="verticalElement">
                <label>{{localize data.damage.label}}</label>    
                <label>{{localize data.damage.value}}</label>
            </div>
        </div>

        <div class="verticalElement">
            <label>{{localize data.description.label}}</label>    
            <label>{{localize data.description.value}}</label>
        </div>

    </div>
</div>