<div class="forbiddenAlpha chatItem">
    <div class="itemContent">

        <div class="verticalElement title">
            <div class="image"> <img src="{{img}}"/> </div>
            <label>{{name}}</label>
        </div>

        <div class="horizontalElement">
            <div class="verticalElement">
                <label>{{localize data.rank.label}}</label>    
                <label>{{localize data.rank.value}}</label>
            </div>
            <div class="verticalElement">
                <label>{{localize data.range.label}}</label>    
                <label>{{localize data.range.value}}</label>
            </div>
        </div>

        <div class="horizontalElement">
            <div class="verticalElement">
                <label>{{localize data.duration.label}}</label>    
                <label>{{localize data.duration.value}}</label>
            </div>
            <div class="verticalElement">
                <label>{{localize data.ingridient.label}}</label>    
                <label>{{localize data.ingridient.value}}</label>
            </div>
        </div>

        <div class="verticalElement">
            <label>{{localize data.description.label}}</label>    
            <label>{{localize data.description.value}}</label>
        </div>

    </div>
</div>