/* ------------------------------------------------------------------------------- */
/* ------------------------------------ TITLE ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.criticalInjuryScroll .criticalInjuryScrollTitle
{
    height: 70px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------ IMAGE ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.criticalInjuryScroll .criticalInjuryScrollImage
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 360px;
}

/* ------------------------------------------------------------------------------- */
/* --------------------------------- DESCRIPTION --------------------------------- */
/* ------------------------------------------------------------------------------- */

.criticalInjuryScroll .criticalInjuryScrollDescription
{
    display: flex;
    width: 360px;
    height: 290px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.criticalInjuryScroll .criticalInjuryScrollDescription .healingTime,
.criticalInjuryScroll .criticalInjuryScrollDescription .timeLimit
{
    margin: 5px 0px;
    height: 45px;
    width: 180px;
}

.criticalInjuryScroll .criticalInjuryScrollDescription .lethal
{
    margin: 5px 0px;
    height: 45px;
    width: 90px;
}

.criticalInjuryScroll .criticalInjuryScrollDescription .healingTime input,
.criticalInjuryScroll .criticalInjuryScrollDescription .timeLimit input
{
    width: 180px;
}

.criticalInjuryScroll .criticalInjuryScrollDescription .description
{
    width: 360px;
    height: 180px;
    text-align: center;
}

.criticalInjuryScroll .criticalInjuryScrollDescription .description textarea
{
    margin: 10px 10px;
    width: 340px;
    height: 150px;
}