/* ------------------------------------------------------------------------------- */
/* ------------------------------------ TITLE ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.materialScroll .materialScrollTitle
{
    height: 90px;
    width: 360px;
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.materialScroll .materialScrollTitle .image
{
    height: 90px;
    width: 90px;
}

.materialScroll .materialScrollTitle .name
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 260px;
}

/* ------------------------------------------------------------------------------- */
/* --------------------------------- PROPERTIES ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.materialScroll .materialScrollProperties
{
    display: flex;
    width: 360px;
    height: 270px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


.materialScroll .materialScrollProperties .weight,
.materialScroll .materialScrollProperties .units
{
    margin: 5px 0px;
    height: 90px;
    width: 120px;
}

.materialScroll .materialScrollProperties .price,
.materialScroll .materialScrollProperties .recolectionDate,
.materialScroll .materialScrollProperties .shelfLife
{
    margin: 5px 0px;
    height: 90px;
    width: 180px;
}

.materialScroll .materialScrollProperties .units input,
.materialScroll .materialScrollProperties .price input
{
    width: 30px;
}

.materialScroll .materialScrollProperties .recolectionDate input,
.materialScroll .materialScrollProperties .shelfLife input
{
    width: 150px;
}