/* ------------------------------------------------------------------------------- */
/* ------------------------------------ TITLE ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.talentScroll .talentScrollTitle
{
    height: 70px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    font-size: 24px;
}

.talentScroll .talentScrollTitle .name
{
    padding-bottom: 25px;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------ IMAGE ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.talentScroll .talentScrollImage
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 360px;
}

/* ------------------------------------------------------------------------------- */
/* --------------------------------- DESCRIPTION --------------------------------- */
/* ------------------------------------------------------------------------------- */

.talentScroll .talentScrollDescription
{
    display: flex;
    width: 360px;
    height: 280px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.talentScroll .talentScrollDescription .rank,
.talentScroll .talentScrollDescription .origin
{
    height: 45px;
    width: 180px;
}

.talentScroll .talentScrollDescription .detailsBar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 360px;
    height: 45px;
    margin: 5px 0px;

    font-size: 16px;
}

.talentScroll .talentScrollDescription .detailsBar .item:hover,
.talentScroll .talentScrollDescription .detailsBar .active
{
    text-shadow: var(--highlight-shadow-color);
}

.talentScroll .talentScrollDescription .details
{
    width: 360px;
    height: 165px;
    text-align: center;
}

.talentScroll .talentScrollDescription .details textarea
{
    width: 340px;
    height: 165px;
}