<form class="{{cssClass}}" autocomplete="off">
    <div class="scroll">
        
        <nav class="tabsBar" data-group="primary">
            <b class="item scrollMark" data-tab="main"><img src="systems/forbiddenAlpha/assets/icons/mainMark.png"></b>
            <b class="item scrollMark" data-tab="crafting"><img src="systems/forbiddenAlpha/assets/icons/craftingMark.png"></b>
            {{> systems/forbiddenAlpha/templates/item/scrollTabsBar.html}}
        </nav>

        <div class="tabsContent">

            <!--MAIN TAB-->
            <div class="tab" data-group="primary" data-tab="main">
                    <div class="scrollContent">
                        <div class="armorScroll">
            
                            <!--TITLE-->
                            <div class="armorScrollTitle">
                                <div class="image"> <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" /> </div>
                                <div class="name"> <input name="name" type="text" value="{{item.name}}" /> </div>
                            </div>
            
                            <!--PROPERTIES-->
                            <div class="armorScrollProperties">
                                <div class="singleColumn">
            
                                    <div class="centeredRow">
            
                                        <!--RATING-->
                                        <div class="armorRating verticalElement">
                                            <label> {{localize data.armorRating.label}} </label>          
                                            <div>
                                                <input name="data.armorRating.value" type="number" value="{{data.armorRating.value}}" />  
                                                /
                                                <input name="data.armorRating.maximum" type="number" value="{{data.armorRating.maximum}}" />  
                                            </div>
                                        </div>
                                                                
                                        <!--BODY PART-->
                                        <div class="bodyPart verticalElement">
                                            <label> {{localize data.bodyPart.label}} </label>          
                                            <select name="data.bodyPart.value">
                                                {{#select data.bodyPart.value}}
                                                <option hidden disabled selected value> {{localize "BODY.LABEL"}} </option>
                                                <option value="head">{{localize "BODY.HEAD"}}</option>
                                                <option value="torso">{{localize "BODY.TORSO"}}</option>                          
                                                {{/select}}
                                            </select>
                                        </div>
            
                                        <!--WEIGHT-->
                                        <div class="weight verticalElement">
                                            <label> {{localize data.common.weight.label}} </label>
                                            <select name="data.common.weight.value">
                                                {{#select data.common.weight.value}}
                                                <option hidden disabled selected value> {{localize "WEIGHT.LABEL"}} </option>
                                                <option value="tiny">{{localize "WEIGHT.TINY"}}</option>
                                                <option value="light">{{localize "WEIGHT.LIGHT"}}</option>   
                                                <option value="regular">{{localize "WEIGHT.REGULAR"}}</option>         
                                                <option value="heavy">{{localize "WEIGHT.HEAVY"}}</option>                                
                                                {{/select}}
                                            </select>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
            
                            <!--DETAILS-->
                            <div class="armorScrollDescription">
                                <div class="singleColumn">
                                    <!--FEATURES-->
                                    <div class="centeredRow">
                                        <div class="features verticalElement">
                                            <label> {{localize data.common.features.label}} </label>          
                                            <textarea name="data.common.features.value">{{data.common.features.value}}</textarea>
                                        </div>
                                    </div>
            
                                    <!--DRAWBACK-->
                                    <div class="centeredRow">
                                        <div class="drawback verticalElement">
                                            <label> {{localize data.common.drawback.label}} </label>          
                                            <textarea name="data.common.drawback.value">{{data.common.drawback.value}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </div>
            </div>

            <!--RECIPE TAB-->
            <div class="tab" data-group="primary" data-tab="crafting">
                    {{> systems/forbiddenAlpha/templates/item/recipeTab.html}}
            </div>

        </div>

    </div>
</form>