<form class="{{cssClass}}" autocomplete="off">
    <div class="scroll">

        <nav class="tabsBar" data-group="primary">
            {{> systems/forbiddenAlpha/templates/item/scrollTabsBar.html}}
        </nav>

        <div class="scrollContent">
            <div class="criticalInjuryScroll">
                <!--TITLE-->
                <div class="criticalInjuryScrollTitle ">
                    <div class="centeredRow name"> <input name="name" type="text" value="{{item.name}}" /> </div>

                </div>
                <!--ITEM IMAGE-->
                <div class="criticalInjuryScrollImage">
                    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                </div>

                <!--ITEM DESCRIPTION-->
                <div class="criticalInjuryScrollDescription">
                    <div class="singleColumn">

                        <!--HEALING TIME-->
                        <div class="centeredRow"> 
                            <div class="healingTime verticalElement">
                                <label> {{localize data.healingTime.label}}: </label>          
                                <input name="data.healingTime.value" type="text" value="{{data.healingTime.value}}" />  
                            </div>
                        </div>

                        <!--LETHAL-->
                        <div class="centeredRow"> 
                            <div class="lethal verticalElement">
                                <label> {{localize data.lethal.label}}: </label>          
                                <select name="data.lethal.value">
                                    {{#select data.lethal.value}}
                                    <option hidden disabled selected value> {{localize "CRITICAL_INJURY_LETHAL.LABEL"}} </option>
                                    <option value="yes">{{localize "CRITICAL_INJURY_LETHAL.YES"}}</option>
                                    <option value="no">{{localize "CRITICAL_INJURY_LETHAL.NO"}}</option>                          
                                    {{/select}}
                                </select>
                            </div>
                                
                            <!--TIME LIMIT-->
                            {{#ifCond data.lethal.value "yes"}}
                            <div class="timeLimit verticalElement">
                                <label> {{localize data.timeLimit.label}}: </label>          
                                <input name="data.timeLimit.value" type="text" value="{{data.timeLimit.value}}" />  
                            </div>
                            {{/ifCond}}
    
                        </div>

                        <div class="centeredRow"> 
                            <div class="description verticalElement">  
                                <label>{{localize data.description.label}}:</label>
                                <textarea name="data.description.value">{{data.description.value}}</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</form>