<form class="{{cssClass}}" autocomplete="off">
    <div class="scroll">

        <nav class="tabsBar" data-group="primary">
            {{> systems/forbiddenAlpha/templates/item/scrollTabsBar.html}}
        </nav>

        <div class="scrollContent">
            <div class="hirelingScroll">
                <!--TITLE-->
                <div class="hirelingScrollTitle ">
                    <div class="centeredRow"> <label>{{localize data.scrollTitle.label}}</label> </div>
                    <div class="centeredRow name"> <input name="name" type="text" value="{{item.name}}" /> </div>

                </div>
                <!--ITEM IMAGE-->
                <div class="hirelingScrollImage">
                    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                </div>

                <!--ITEM DESCRIPTION-->
                <div class="hirelingScrollDescription">
                    <div class="singleColumn">

                        <div class="centeredRow"> 

                            <!--SALARY-->
                            <div class="salary verticalElement"> 
                                <label> {{localize data.salary.label}}: </label>          
                                <div class="input">
                                    <input name="data.salary.valueCopper" type="number" value="{{data.salary.valueCopper}}" />  
                                    /
                                    <input name="data.salary.valueSilver" type="number" value="{{data.salary.valueSilver}}" />  
                                    /
                                    <input name="data.salary.valueGold" type="number" value="{{data.salary.valueGold}}" />  
                                </div>
                            </div>

                            <!--NUMBER-->
                            <div class="number verticalElement"> 
                                <label>{{localize data.number.label}}:</label>
                                <input name="data.number.value" type="number" value="{{data.number.value}}" />  
                            </div>
    
                            <!--SUPPLY-->
                            <div class="supply verticalElement">
                                <label> {{localize data.supply.label}} </label>          
                                <select name="data.supply.value">
                                    {{#select data.supply.value}}
                                    <option hidden disabled selected value> {{localize "SUPPLY.LABEL"}} </option>
                                    <option value="common">{{localize "SUPPLY.COMMON"}}</option>
                                    <option value="uncommon">{{localize "SUPPLY.UNCOMMON"}}</option>        
                                    <option value="rare">{{localize "SUPPLY.RARE"}}</option>                         
                                    {{/select}}
                                </select>
                            </div>

                        </div>


                        <div class="centeredRow"> 
                            <div class="description verticalElement">  
                                <label>{{localize data.description.label}}:</label>
                                <textarea name="data.description.value">{{data.description.value}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</form>