<form class="{{cssClass}}" autocomplete="off">
    <div class="scroll">

        <nav class="tabsBar" data-group="primary">
            <b class="item scrollMark" data-tab="main"><img src="systems/forbiddenAlpha/assets/icons/mainMark.png"></b>
            <b class="item scrollMark" data-tab="crafting"><img src="systems/forbiddenAlpha/assets/icons/craftingMark.png"></b>
            {{> systems/forbiddenAlpha/templates/item/scrollTabsBar.html}}
        </nav>

        <div class="tabsContent">
            <!--MAIN TAB-->
            <div class="tab" data-group="primary" data-tab="main">
                <div class="scroll"> 
                    <div class="scrollContent">
                        <div class="materialScroll">
            
                            <!--TITLE-->
                            <div class="materialScrollTitle">
                                <div class="image"> <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" /> </div>
                                <div class="name"> <input name="name" type="text" value="{{item.name}}" /> </div>
                            </div>
            
                            <!--PROPERTIES-->
                            <div class="materialScrollProperties">
            
                                <div class="singleColumn">
            
                                    <div class="centeredRow">
                                        <!--PRICE-->
                                        <div class="price verticalElement">
                                            <label> {{localize data.commerce.price.label}} </label>          
                                            <div>
                                                <input name="data.commerce.price.valueCopper" type="number" value="{{data.commerce.price.valueCopper}}" />  
                                                /
                                                <input name="data.commerce.price.valueSilver" type="number" value="{{data.commerce.price.valueSilver}}" />  
                                                /
                                                <input name="data.commerce.price.valueGold" type="number" value="{{data.commerce.price.valueGold}}" />  
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="centeredRow">
                                        <!--UNITS-->
                                        <div class="units verticalElement">
                                            <label> {{localize data.units.label}} </label>          
                                            <input name="data.units.value" type="number" value="{{data.units.value}}" />  
                                        </div>
                                                            
                                        <!--WEIGHT-->
                                        <div class="weight verticalElement">
                                            <label> {{localize data.common.weight.label}} </label>
                                            <select name="data.common.weight.value">
                                                {{#select data.common.weight.value}}
                                                <option hidden disabled selected value> {{localize "WEIGHT.LABEL"}} </option>
                                                <option value="tiny">{{localize "WEIGHT.TINY"}}</option>
                                                <option value="light">{{localize "WEIGHT.LIGHT"}}</option>   
                                                <option value="regular">{{localize "WEIGHT.REGULAR"}}</option>         
                                                <option value="heavy">{{localize "WEIGHT.HEAVY"}}</option>                                
                                                {{/select}}
                                            </select>
                                        </div>
                                    </div>
            
                                    <div class="centeredRow">
                                        <!--RECOLECTED-->
                                        <div class="recolectionDate verticalElement">
                                            <label> {{localize data.commerce.recolected.label}} </label>          
                                            <input name="data.commerce.recolected.value" type="text" value="{{data.commerce.recolected.value}}" />  
                                        </div>
                                                            
                                        <!--SHELF-->
                                        <div class="shelfLife verticalElement">
                                            <label> {{localize data.commerce.shelfLife.label}} </label>          
                                            <input name="data.commerce.shelfLife.value" type="text" value="{{data.commerce.shelfLife.value}}" />  
                                        </div>
                                    </div>
            
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>

            <!--RECIPE TAB-->
            <div class="tab" data-group="primary" data-tab="crafting">
                <div class="scroll"> 
                    {{> systems/forbiddenAlpha/templates/item/recipeTab.html}}
                </div>
            </div>
        </div>

    </div>
</form>