/* ------------------------------------------------------------------------------- */
/* --------------------------------- COMBAT TAB ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .combatTab .pageContent .itemList
{
    height: 160px;  
}

.book .combatTab .pageContent .itemList .itemListContainer
{
    height: 130px;  
}

.book .combatTab .pageContent .itemList .injuryName { width: 230px; }
.book .combatTab .pageContent .itemList .injuryTime { width: 100px; }

.book .combatTab .pageContent .itemList .regularColumn { width: 80px; }
.book .combatTab .pageContent .itemList .hugeColumn { width: 170px; }