/* ------------------------------------------------------------------------------- */
/* ---------------------------------- GEAR TAB ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .gearTab .pageContent .subtitle
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 8px;
    font-size: 18px;
    ;
}

.book .gearTab .pageContent .coins
{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    justify-content: center;
    align-content: space-between;
}

.book .gearTab .pageContent .consumable
{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: center;
    align-content: space-between;
}

.book .gearTab .pageContent .consumable
{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: center;
    align-content: space-between;
}

.book .gearTab .pageContent .consumable button
{
    text-shadow: var(--label-shadow-color);
}

.book .gearTab .pageContent .consumable button:hover
{
    text-shadow: var(--highlight-color);
}

/* ------------------------------------------------------------------------------- */
/* ---------------------------------- INVENTORY ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .gearTab .pageContent .gearNav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

.book .gearTab .pageContent .gearNav .tabItem
{
    text-shadow: var(--label-shadow-color);
}

.book .gearTab .pageContent .gearNav .active,
.book .gearTab .pageContent .gearNav .tabItem:hover
{
    text-shadow: var(--highlight-color);
}

.book .gearTab .pageContent .itemList .smallColumn { width: 30px; }
.book .gearTab .pageContent .itemList .regularColumn { width: 60px; }
.book .gearTab .pageContent .itemList .bigColumn { width: 120px; }
.book .gearTab .pageContent .itemList .biggerColumn { width: 150px;  }
