/* ------------------------------------------------------------------------------- */
/* ---------------------------------- MAIN TAB ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .mainTab .profileImage
{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.book .mainTab .bookTitle 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 340px;
    width: 360px;
    height: 80px;
    justify-content: center;
    align-items: center;
    overflow: visible;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: 36px;
    font-weight: bold;
}

.book .mainTab .bookTitleName 
{
    /* Box transform */
    display: flex;
    position: absolute;
    top: 400px;
    left: 10px;
    width: 340px;
    height: 80px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    /* Text */
    color: rgb(26, 26, 26);
    font-family: inherit;
    font-size: 36px;
    font-weight: italic;
}

.book .mainTab .bookTitleName input
{
    width: 340px;
    height: 80px;
    background-color: transparent;
    text-shadow: var(--label-shadow-color);
}

/* ------------------------------------------------------------------------------- */
/* --------------------------------- PROPERTIES ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .mainTab .kin,
.book .mainTab .profession,
.book .mainTab .age
{
    width: 120px;
    height: 90px;
    font-size: 18px;
}

.book .mainTab .experience,
.book .mainTab .reputation,
.book .mainTab .willpower
{
    font-size: 20px;
}

.book .mainTab .experience input,
.book .mainTab .reputation input,
.book .mainTab .willpower input
{
    width: 32px;
    background-color: transparent;
    text-shadow: var(--label-shadow-color);
}

.book .mainTab .reputationBar,
.book .mainTab .willpowerBar
{
    width: 300px;
    height: 40px;
}

.book .mainTab .experienceBar
{
    width: 300px;
    height: 100px;
}

.book .mainTab .experienceBar .dataItemMissing,
.book .mainTab .willpowerBar .dataItemMissing,
.book .mainTab .reputationBar .dataItemMissing,
.book .mainTab .experienceBar .dataItem,
.book .mainTab .willpowerBar .dataItem,
.book .mainTab .reputationBar .dataItem
{
    /* (boxSize - boxBorder - itemMargin * maximumItems) / maximumItems */
    width: calc((300px - 10px - 4px * 10) / 10 );
    height: 26px;
}