/* ------------------------------------------------------------------------------- */
/* --------------------------------- SKILLS TAB ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .skillTab .attribute
{
    display: flex;
    position: relative;
    width: 360px;
    height: 120px;
    font-size: 24px;
    margin: 5px 0px;
}

.book .skillTab .attribute .attributeInput
{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 85px;
    font-size: 30px;
    border: 5px rgb(26, 26, 26) double;
    border-radius: 8px;
}

.book .bookTab .attribute .attributeInput b
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.book .bookTab .attribute .attributeDamage
{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 60px;
    left: 125px;
}



.book .bookTab .attribute .attributeDamage b
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 15px;
    height: 15px;
}

.book .bookTab .attribute .attributeDamage b:hover
{
    text-shadow: none;
}

.book .bookTab .attribute .attributeInput b:hover
{
    cursor: pointer;
}


.book .skillTab .attribute .attributeBar
{
    display: flex;
    flex-direction: row;
    position: absolute;
    border-left: none;
    width: 120px;
    height: 40px;
    top: 30px;
    left: 140px;
}

.book .skillTab .attribute .attributeBar .offset
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin: 0px 5px;
    width: 100px;
    height: 40px;
}

.book .skillTab .attribute .attributeButton
{
    position: absolute;
    width: 100px;
    height: 40px;
    top: 80px;
    left: 130px;
}

.book .skillTab .attributeBar .dataItemMissingContinuous,
.book .skillTab .attributeBar .dataItemContinuous,
.book .skillTab .attributeBar .dataItemMissing,
.book .skillTab .attributeBar .dataItem
{
    box-sizing: border-box;
    flex: 1;
    height: 26px;
}

.book .bookTab .skill
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    height: 50px;
    width: 170px;
    background-color: rgba(26, 26, 26, 0.055);
}

.book .bookTab .skill button
{
    margin: 0% 2%;
    width: 70%;
    height: 50px;
}

.book .bookTab .skill b
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 2%;
    width: 15%;
    height: 50px;
}

.book .bookTab .skill b:hover
{
    cursor: pointer;
}

