/* ------------------------------------------------------------------------------- */
/* ------------------------------ STRONGHOLD TABS -------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .storageTab .pageContent .storageNav
{
    /* Box transform */
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    align-items: center;

    /* Debug */
    /*background-color: rgba(255, 0, 0, 0.25);*/
}

.book .storageTab .pageContent .storageNav .item
{
    display: flex;
    height: 25%;
    align-items: center;
    font-size: 22px;
}

.book .storageTab .pageContent .storageNav .item:hover
{
    cursor: pointer;
    text-shadow: var(--highlight-color);
}

.book .storageTab .pageContent .storageNav .active
{
    /* Bookmark image */
    text-shadow: var(--highlight-color);
}

/* ------------------------------------------------------------------------------- */
/* ---------------------------------- INVENTORY ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.book .storageTab .pageContent .itemList .regularColumn { width: 80px; }
.book .storageTab .pageContent .itemList .bigColumn { width: 200px; }

.book .storageTab .pageContent .itemList .smallColumn { width: 30px; }
.book .storageTab .pageContent .itemList .mediumColumn { width: 170px; }
